{% extends '@!EasyAdmin/crud/detail.html.twig' %}
{% block content_footer_wrapper %}
    <h5>Total users: <em>{{ totalUsers }}</em></h5>
    <h5>Total hours: <em>{{ totalHours }}</em></h5>
{% endblock %}

{% block main %}
    {% block detail_fields %}
        {% set row_number = 0 %}
        {% for field in entity.fields %}
            {% set is_decoration_field = 'field-form_panel' in field.cssClass %}

            {% if loop.first and not is_decoration_field %}
                {% set row_number = 0 %}
                {{ _self.open_empty_content_panel(field) }}
            {% endif %}

            {% if is_decoration_field %}
                {% if not loop.first %}
                    {{ _self.close_content_panel() }}
                {% endif %}

                {% set row_number = 0 %}
                {% if field.label is empty and field.help is empty %}
                    {{ _self.open_empty_content_panel(field) }}
                {% else %}
                    {{ _self.open_content_panel_with_header(field) }}
                {% endif %}
            {% endif %}

            {% block detail_field %}
                {% if not is_decoration_field %}
                    {{ _self.render_field(entity, field, row_number) }}
                {% endif %}
            {% endblock %}

            {% set row_number = is_decoration_field ? row_number : row_number + 1 %}
        {% endfor %}

        {{ _self.close_content_panel() }}
    {% endblock %}

    {% block delete_form %}
        {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', { entity_id: entity.primaryKeyValue }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}